[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "allianceauth-afat"
version = "2.12.2"
description = "Another Fleet Activity Tracking tool for Alliance Auth"
readme = "README.md"
license = "GPL-3.0"
requires-python = "~=3.8"
authors = [
    { name = "Peter Pfeufer", email = "develop@ppfeufer.de" },
]
keywords = [
    "allianceauth",
    "eveonline",
    "template",
    "theme",
]
classifiers = [
    "Environment :: Web Environment",
    "Framework :: Django",
    "Framework :: Django :: 4.0",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Topic :: Internet :: WWW/HTTP",
    "Topic :: Internet :: WWW/HTTP :: Dynamic Content",
]
dependencies = [
    "allianceauth-app-utils>=1.14.1",
    "allianceauth>=3.2.0",
    "unidecode>=1.3.4",
]

[project.urls]
Homepage = "https://github.com/ppfeufer/allianceauth-afat"
Documentation = "https://github.com/ppfeufer/allianceauth-afat/blob/master/README.md"
Source = "https://github.com/ppfeufer/allianceauth-afat.git"
Changelog = "https://github.com/ppfeufer/allianceauth-afat/blob/master/CHANGELOG.md"
Tracker = "https://github.com/ppfeufer/allianceauth-afat/issues"

[tool.hatch.build]
include = [
    "/afat",
]
