h1, h2, h3, h4, h5, h6 {
    color: #FF67C3;
    background-color: rgba(255, 255, 255, 0);
}

.center {
    text-align: center;
}

body {
    background-color: transparent;
}

/*body{*/
/*    background-color: #1abc9c;*/
/*}*/

:root {
    --ifm-color-primary: #FF67C3;
    /* --ifm-color-primary: #ffffff00; */
    --ifm-color-primary-dark: #FF67C3;
    --ifm-color-primary-darker: #6BD6E3;
    --ifm-color-primary-darkest: #BE97D2;
    --ifm-color-primary-light: #FF929C;
    --ifm-color-primary-lighter: #e9e9e9;
    --ifm-color-primary-lightest: #FF0000;
    --ifm-code-font-size: 95%;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
    background-image: url("https://raw.githubusercontent.com/CompassLabs/docs/main/static/img/background_tiles.svg");
    background-size: cover;
    /* --ifm-font-color-base: #000; */
}


.aaa {
    background-color: rgba(255, 255, 255, 0);
}

hr {
    color: #b7b7b7;
    /*height: 12px;*/
    border-width: 4px;

}


.no_borders {
    border-left:   None;
    border-right:   NOne;
}