[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "vinhvh_package"
version = "0.0.17"
authors = [
  { name="VinhVH", email="vinhvh89.dc@gmail.com" },
]
description = "A small example package"
readme = "README.md"
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[project.urls]
"Homepage" = "https://github.com/VinhVu8x/packaging_tutorial"
"Bug Tracker" = "https://github.com/VinhVu8x/packaging_tutorial/issues"