[tool.poetry]
name = "uw-it-build-fingerprinter"
version = "0.2.9"
description = ""
authors = ["Tom Thorogood <tom@tomthorogood.com>"]
packages = [
    { include = "fingerprinter" }
]

[tool.poetry.scripts]
fingerprinter = 'fingerprinter.cli:main'

[tool.poetry.dependencies]
python = ">=3.8"
pydantic = "^1.9.0"
PyYAML = "^6.0"

[tool.poetry.dev-dependencies]
black = "^22.3.0"
tox = "^3.24.5"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
