name: test

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10']
        mongodb-version: ['4.2', '4.4', '5.0', '6.0']
        dtool-lookup-server-version: ['0.18.0']
        dtool-lookup-server-search-plugin-mongo-version: ['0.2.0']
        dtool-lookup-server-retrieve-plugin-mongo-version: ['0.2.0']

    steps:
    - name: Git checkout
      uses: actions/checkout@v3

    - name: Set up MongoDB ${{ matrix.mongodb-version }}
      uses: supercharge/mongodb-github-action@1.9.0
      with:
        mongodb-version: ${{ matrix.mongodb-version }}

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Setup and testing requirements
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade setuptools wheel setuptools-scm[toml] importlib-metadata
        pip install flake8 pytest

    - name: Install server, search and retrieve plugins
      run: |
        # This should move into the strategy matrix once released 
        pip install dtool-lookup-server==${{ matrix.dtool-lookup-server-version }}
        pip install dtool-lookup-server-search-plugin-mongo==${{ matrix.dtool-lookup-server-search-plugin-mongo-version }}
        pip install dtool-lookup-server-retrieve-plugin-mongo==${{ matrix.dtool-lookup-server-retrieve-plugin-mongo-version }}

    - name: Remaining requirements
      run: |
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        pip install .
        pip list

    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

    - name: Test with pytest
      run: |
        pytest -sv
